<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">>
<head>
    <th:block th:fragment="default-head(pageTitle)">
        <meta charset="UTF-8"/>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <meta name="viewport" content="width=device-width,initial-scale=0.9"/>
        <link rel="stylesheet" th:href="@{/css/bootstrap.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/custom.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/dataTables.bootstrap.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/font-awesome.css}" type="text/css"/>
        <link rel="stylesheet" th:href="@{/css/morris-0.4.3.min.css}" type="text/css"/>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery.dataTables.js}"></script>
        <script th:src="@{/js/jquery.metisMenu.js}"></script>
        <script th:src="@{/js/dataTables.bootstrap.js}"></script>
        <script th:src="@{/js/raphael-2.1.0.min.js}"></script>
        <script th:src="@{/js/custom.js}"></script>
        <script th:src="@{/js/morris.js}"></script>
        <script th:src="@{/js/cool-alerts.js}"></script>
        <script th:src="@{/js/message-alert.js}"></script>
        <script th:src="@{/js/notify.min.js}"></script>
        <script th:src="@{/js/proc.js}"></script>
        <title th:text="'ProCollab 2018 - '+${pageTitle}+''"></title>
        <link rel="shortcut icon" type="image/png" th:href="@{/images/favicon.png}"/>
    </th:block>
</head>
<body>

</body>
</html>