<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org"
        xmlns="http://www.w3.org/1999/xhtml">>
<head>
</head>
<body>
<th:block th:fragment="default-left-bar">
    <section th:replace="layouts/message-alert :: message-alert-body"></section>
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center" style="background-color: #000c23 !important;">
                    <img th:src="@{/images/user.png}" class="user-image img-circle" style="width:125px!important; height:auto!important; border-radius:50%"/>
                    <!-- picture -->
                    <div style="margin-top: 1px; margin-bottom: 8px; color: #fff">
                        Paola Ortega Saborio
                    </div>
                    <div style="margin-top: 2px; margin-right: 2px; margin-bottom: 8px">
                        <a th:href="@{/settings}"><img th:src="@{/images/settings.png}" style="width: 15px; height:auto; margin-right: 4px"/></a>
                        <a th:href="@{/logout}"><img th:src="@{/images/logout.png}" style="width: 15px; height:auto; "/></a>
                    </div>

                </li>

                <li>
                    <a class="active-menu" th:href="@{/index}"><i class="fa fa-dashboard fa-3x"></i>Incidents Dashboard</a>
                </li>
                <!--li>
                    <a th:href="@{layouts/ui.html}"><i class="fa fa-desktop fa-3x"></i> UI Elements</a>
                </li>
                <li>
                    <a th:href="@{layouts/tab-panel.html}"><i class="fa fa-qrcode fa-3x"></i> Tabs &amp; Panels</a>
                </li>
                <li>
                    <a th:href="@{layouts/form.html}"><i class="fa fa-edit fa-3x"></i> Previous Exceptions </a>
                </li>
                <li>
                    <a th:href="@{index}"><i class="fa fa-bar-chart-o fa-3x"></i> Morris Charts</a>
                </li-->
                <li>
                    <a th:href="@{/analytics.html}"><i class="fa fa-table fa-3x"></i>Analytics Dashboard</a>
                </li>
                <li>
                    <a th:href="@{/input.html}"><i class="fa fa-edit fa-3x"></i>Generate Incident</a>
                </li>

                <!--li>
                    <a href="#"><i class="fa fa-sitemap fa-3x"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Second Level Link</a>
                        </li>
                        <li>
                            <a href="#">Second Level Link</a>
                        </li>
                        <li>
                            <a href="#">Second Level Link<span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level">
                                <li>
                                    <a href="#">Third Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Link</a>
                                </li>
                                <li>
                                    <a href="#">Third Level Link</a>
                                </li>

                            </ul>

                        </li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{layouts/blank.html}"><i class="fa fa-square-o fa-3x"></i> Blank Page</a>
                </li-->
            </ul>

        </div>

    </nav>
</th:block>
</body>
</html>