<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:replace="layouts/default-head :: default-head('Inicio')"></th:block>
    <style type="text/css">
        .photo-warnign{
            height: 40px;
            width: 40px;
            border-radius: 0%;
            float: left;
            margin: 5% !important;
        }
    </style>
</head>
<body>
<div id="wrapper">
    <th:block th:replace="layouts/mobile-menu :: mobile-menu"></th:block>

    <!-- /. NAV TOP  -->
    <th:block th:replace="layouts/left-bar :: default-left-bar"></th:block>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <div class="col-md-12">
                    <h2 style="color: #000c23;font-weight: bold;">Incidents Dashboard</h2>
                    <th:block th:with="auth=${#authentication.getPrincipal()}">
                        Bienvenido/a <b th:text="auth ? ${auth.realName} : ${#authentication.getName()}"></b>
                    </th:block>
                </div>
            </div>
            <!-- /. ROW  -->
            <hr/>
            <div class="row">

                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: #000c23;font-weight: bold;">Pending Incidents</h2>
                    </div>
                </div>


                <th:block th:each="exception:${exceptions}">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">

                            <a class="anchor-no-decorate" th:href="@{'/exception/'+${exception.exceptionId}}">
                                <div class="text-box">
                                    <div style="width: 100%; display: inline-flex;">
                                        <div style="width: 70%;">
                                            <p class="main-text" style="word-wrap: break-word;" th:text="${exception.workProcessFk}"></p>
                                        </div>
                                        <div style="width: 30%; text-align: center">
                                            <img style="float: right; margin: 5px;" th:src="@{/images/warning.png}" class="user-image img-responsive photo-warnign"/>
                                        </div>
                                    </div>
                                    <p class="text-muted" style="word-wrap: break-word;" th:text="${exception.processMeasureFk}"></p>
                                    <p class="text-muted" style="word-wrap: break-word;">Deadline</p>
                                    <label style="color: #e2574c;font-size: 20px;word-wrap: break-word;" th:text="${#dates.format(exception.endTime, 'dd-MM-yyyy HH:mm')}"></label>
                                </div>
                            </a>
                        </div>
                    </div>
                </th:block>

                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: #000c23;font-weight: bold;">Awaiting Incidents</h2>
                    </div>
                </div>

                <th:block th:each="exception:${exceptions}">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">

                            <a class="anchor-no-decorate" th:href="@{'/exception/'+${exception.exceptionId}}">
                                <div class="text-box">
                                    <div style="width: 100%; display: inline-flex;">
                                        <div style="width: 70%;">
                                            <p class="main-text" style="word-wrap: break-word;" th:text="${exception.workProcessFk}"></p>
                                        </div>
                                        <div style="width: 30%; text-align: center">
                                            <img style="float: right; margin: 5px;" th:src="@{/images/warning.png}" class="user-image img-responsive photo-warnign"/>
                                        </div>
                                    </div>
                                    <p class="text-muted" style="word-wrap: break-word;" th:text="${exception.processMeasureFk}"></p>
                                    <p class="text-muted" style="word-wrap: break-word;">Deadline</p>
                                    <label style="color: #e2574c;font-size: 20px;word-wrap: break-word;" th:text="${#dates.format(exception.endTime, 'dd-MM-yyyy HH:mm')}"></label>
                                </div>
                            </a>
                        </div>
                    </div>
                </th:block>


                <div class="row">
                    <div class="col-md-12">
                        <h2 style="color: #000c23;font-weight: bold;">Solved Incidents</h2>
                    </div>
                </div>

                <th:block th:each="exception:${exceptions}">
                    <div class="col-md-3 col-sm-6 col-xs-6">
                        <div class="panel panel-back noti-box">

                            <a class="anchor-no-decorate" th:href="@{'/exception/'+${exception.exceptionId}}">
                                <div class="text-box">
                                    <div style="width: 100%; display: inline-flex;">
                                        <div style="width: 70%;">
                                            <p class="main-text" style="word-wrap: break-word;" th:text="${exception.workProcessFk}"></p>
                                        </div>
                                        <div style="width: 30%; text-align: center">
                                            <img style="float: right; margin: 5px;" th:src="@{/images/warning.png}" class="user-image img-responsive photo-warnign"/>
                                        </div>
                                    </div>
                                    <p class="text-muted" style="word-wrap: break-word;" th:text="${exception.processMeasureFk}"></p>
                                    <p class="text-muted" style="word-wrap: break-word;">Deadline</p>
                                    <label style="color: #e2574c;font-size: 20px;word-wrap: break-word;" th:text="${#dates.format(exception.endTime, 'dd-MM-yyyy HH:mm')}"></label>
                                </div>
                            </a>
                        </div>
                    </div>
                </th:block>
            </div>
            <!-- /. ROW  -->

            <!-- /. ROW  -->
        </div>
        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

</body>
</html>